{namespace core=TYPO3\CMS\Core\ViewHelpers}
{namespace nz=CuyZ\Notiz\ViewHelpers}

<f:be.container
    includeCssFiles="{
        0: '{f:uri.resource(path: \'Css/backend.css\')}'
    }">

    <div class="module">

        <div class="module-docheader">
            <div class="typo3-docheader-functions">
                <div class="module-docheader-bar module-docheader-bar-navigation">
                    <div class="module-docheader-bar-column-left"></div>
                    <div class="module-docheader-bar-column-right"></div>
                </div>
            </div>

            <div class="module-docheader-bar module-docheader-bar-buttons">
                <div class="module-docheader-bar-column-left">
                    <f:render section="HeaderButtons" optional="true" />
                </div>

                <div class="module-docheader-bar-column-right">
                    <f:be.buttons.shortcut />
                </div>
            </div>
        </div>

        <div class="module-body">
            <f:render section="Title" optional="true" />

            <f:flashMessages />

            <f:render section="Content" />
        </div>

    </div>

</f:be.container>
