{namespace nz=CuyZ\Notiz\ViewHelpers}

<f:layout name="Default" />

<f:section name="Content">
    <span class="toolbar-item-icon" title="{nz:t(key: 'Backend/Toolbar:title')}">
        <span title="{nz:t(key: 'Backend/Toolbar:title')}">
            <f:render partial="Backend/Toolbar/ToolbarIcon"
                      section="Content"
                      arguments="{result: result}" />
        </span>
    </span>

    <span class="toolbar-item-title">
        <nz:t key="Backend/Toolbar:title" />
    </span>
</f:section>
