{namespace core=TYPO3\CMS\Core\ViewHelpers}
{namespace nz=CuyZ\Notiz\ViewHelpers}

<f:layout name="Backend/ToolBar/Item/{f:if(condition: legacyLayout, then: 'Legacy', else: 'Default')}" />

<f:section name="Icon">
    <span title="{nz:t(key: 'Backend/Toolbar/Show:title')}">
        <f:render partial="Backend/Toolbar/ToolbarIcon"
                  section="Content"
                  arguments="{result: result}" />
    </span>
</f:section>

<f:section name="Title">
    <nz:t key="Backend/Toolbar/Show:title" />
</f:section>
