{namespace nz=CuyZ\Notiz\ViewHelpers}

<f:be.infobox title="{nz:t(key: 'Backend/Module/Administration:definition.error.info_box.title')}" state="2">
    <p>
        <b>
            <nz:t key="Backend/Module/Administration:definition.error.info_box.error.header" />
        </b>
    </p>

    <p>
        <nz:t key="Backend/Module/Administration:definition.error.info_box.error.body" />
    </p>

    <p>
        <nz:backend.module.link module="Administration"
                                controller="Backend\Administration\ShowDefinition"
                                frame="1"
                                parentFrame="1">
            <core:icon identifier="actions-system-extension-configure" />
            <nz:t key="Backend/Module/Administration:definition.error.errors_link.label"
                  args="{0: '{result.flattenedErrors -> f:count()}'}" />
        </nz:backend.module.link>
    </p>
</f:be.infobox>
