{namespace nz=CuyZ\Notiz\ViewHelpers}

<f:be.infobox title="{nz:t(key: 'Backend/TCA:slack.no_defined_channel.info_box.title')}">
    <p>
        <b>
            <nz:t key="Backend/TCA:slack.no_defined_channel.info_box.header" />
        </b>
    </p>

    <p>
        <nz:t key="Backend/TCA:slack.no_defined_channel.info_box.body" />
    </p>

    <pre><code>notiz {
    notifications {
        entitySlack {
            settings {
                channels {
                    contact {
                        label = Contact channel
                        webhookUrl = https://hooks.slack.com/services/ABCDEFGHI/ABCDEFGHI/abcdefghijklmnopqrstuvw
                        target = #contact
                    }
                }
            }
        }
    }
}</code></pre>
</f:be.infobox>
