{namespace core=TYPO3\CMS\Core\ViewHelpers}
{namespace nz=CuyZ\Notiz\ViewHelpers}

<f:be.infobox title="{nz:t(key: 'Backend/TCA/Slack/NoDefinedBot:info_box.title')}">
    <p>
        <b>
            <nz:t key="Backend/TCA/Slack/NoDefinedBot:info_box.header" />
        </b>
    </p>

    <p>
        <nz:t key="Backend/TCA/Slack/NoDefinedBot:info_box.body" />
    </p>

    <pre><code>notiz {
    notifications {
        entitySlack {
            settings {
                bots {
                    pizza {
                        label = Mr Pizza
                        avatar = :pizza:
                    }
                }
            }
        }
    }
}</code></pre>
</f:be.infobox>
