{namespace nz=CuyZ\Notiz\ViewHelpers}

<f:section name="ExceptionDetails">
    <ul class="nav nav-tabs t3js-tabs" role="tablist" id="tabs-tab" data-store-last-tab="1">
        <li role="presentation" class="t3js-tabmenu-item  active">
            <a href="#exception-message" title="" aria-controls="exception-message" role="tab" data-toggle="tab">
                <nz:t key="Backend/Module/Administration/Definition/Error:info_box.exception.details" />
            </a>
        </li>
        <li role="presentation" class="t3js-tabmenu-item ">
            <a href="#exception-details" title="" aria-controls="exception-details" role="tab" data-toggle="tab">
                <nz:t key="Backend/Module/Administration/Definition/Error:info_box.exception.details_advanced" />
            </a>
        </li>
        <li role="presentation" class="t3js-tabmenu-item ">
            <a href="{frameSrc}" target="_blank" title="{nz:t(key: 'Backend/Module/Administration/Definition/Error:info_box.exception.open_in_new_tab')}">
                <nz:core.icon identifier="actions-window-open" />
                <nz:t key="Backend/Module/Administration/Definition/Error:info_box.exception.open_in_new_tab" />
            </a>
        </li>
    </ul>

    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="exception-message">
            <div class="panel panel-tab">
                <div class="panel-body">
                    <dl>
                        <f:if condition="{exception.code}">
                            <dt>
                                <strong><nz:t key="Backend/Module/Administration/Definition/Error:info_box.exception.details.code" /></strong>
                            </dt>
                            <dd>
                                <i>{exception.code}</i>
                            </dd>
                        </f:if>

                        <dt>
                            <strong><nz:t key="Backend/Module/Administration/Definition/Error:info_box.exception.details.message" /></strong>
                        </dt>
                        <dd>
                            {exception.message}
                        </dd>
                    </dl>
                </div>
            </div>
        </div>

        <div role="tabpanel" class="tab-pane" id="exception-details">
            <div class="panel panel-tab">
                <div class="panel-body">
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe src="{frameSrc}" class="embed-responsive-item"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</f:section>
