{namespace nz=CuyZ\Notiz\ViewHelpers}

<f:section name="DefinitionException">
    <p>
        <b>
            <nz:t key="Backend/Module/Administration:definition.error.info_box.exception.header" />
        </b>
    </p>

    <p>
        <nz:t key="Backend/Module/Administration:definition.error.info_box.exception.body" />
        <ul>
            <li><nz:t key="Backend/Module/Administration:definition.error.info_box.exception.body.help_1" /></li>
            <li><nz:t key="Backend/Module/Administration:definition.error.info_box.exception.body.help_2" /></li>
            <li><nz:t key="Backend/Module/Administration:definition.error.info_box.exception.body.help_3" /></li>
            <li><nz:t key="Backend/Module/Administration:definition.error.info_box.exception.body.help_4" /></li>
            <li><nz:t key="Backend/Module/Administration:definition.error.info_box.exception.body.help_5" /></li>
        </ul>
    </p>

    <hr />

    <f:render partial="Backend/ExceptionDetails"
              section="ExceptionDetails"
              arguments="{exception: exception, frameSrc: '{f:uri.action(controller: \'Backend\Administration\ShowException\')}'}" />
</f:section>
