{namespace nz=CuyZ\Notiz\ViewHelpers}

<f:section name="Buttons">
    <f:alias map="{label: '{nz:t(key: \'Backend/Module/Administration/Layout:menu.index\')}'}">
        <li role="presentation" class="{f:if(condition: '{menu} == \'index\'', then: 'active')}">
            <f:link.action controller="Backend\Administration\Index"
                           title="{label}">
                <strong>{label}</strong>
            </f:link.action>
        </li>
    </f:alias>

    <f:alias map="{label: '{nz:t(key: \'Backend/Module/Administration/Layout:menu.definition\')}'}">
        <li role="presentation" class="{f:if(condition: '{menu} == \'definition\'', then: 'active')}">
            <f:link.action controller="Backend\Administration\ShowDefinition" title="{label}">
                <strong>{label}</strong>

                <f:if condition="{result.flattenedErrors}">
                    (<span class="text-danger">{nz:t(key: 'Backend/Module/Administration/Definition/Error:errors_count', args: '{0: \'{result.flattenedErrors -> f:count()}\'}')}</span>)
                </f:if>
            </f:link.action>
        </li>
    </f:alias>
</f:section>
