.notiz-definition-entry input[type="checkbox"] {
    display: none;
}
.notiz-definition-entry label:hover {
    cursor: pointer;
}
.notiz-definition-entry input[type="checkbox"]:not(:checked) + .notiz-definition-entry-value {
    display: none;
}

.root-definition {
    font-size: 16px;
    line-height: 1.5;
}

.list-tree.text-monospace {
    margin-top: -20px;
}

.list-tree > li {
    margin-top: 2rem;
}
.list-tree > li > ul >li {
    margin-top: 1rem;
}

.list-tree li {
    min-height: 32px;
}
.list-tree li:before {
    top: 14px !important;
}

/*
 * Correction for the header menu in the backend module.
 */
.nz-menu {
    border-bottom: none;
}

.nz-menu li.active a,
.nz-menu li.active a:hover {
    background-color: white;
    border-bottom-color: white;
}

.module-docheader .module-docheader-bar {
    margin-bottom: 0;
}

/*
 * The class `flex-row` allows columns inside rows to have the same height.
 *
 * Panels (elements with class `panel`) inside a "flex row" will have their
 * footers aligned as well.
 */
.flex-row, .flex-row > div[class*='col-'] {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex:0 auto;
}

.flex-row .panel {
    display: flex;
    display: -webkit-flex;
    flex: 1;
    flex-flow: column nowrap;
}

.flex-row .panel-body {
    display: flex;
    -webkit-flex: 2;
    flex: 2;
    flex-direction: column;
}

/*
 * Better integration for the list group inside the panel.
 */
.nz-admin-index-support .list-group {
    margin: 0 -16px -18px;
}
