[general]
project   = NotiZ - Powerful notification dispatcher
version   = 2.0
release   = 2.1.2
t3author  = Romain Canon, Nathan Boiron
copyright = 2018

description = Handle any type of notification in TYPO3 with ease: emails, SMS,
    Slack and more. Listen to your own events or provided ones (scheduler task
    finishing, extension installed, etc…).

[notify]
about_new_build = team.cuyz@gmail.com

[html_theme_options]
github_branch =
github_commit_hash =
github_repository = CuyZ/NotiZ
path_to_documentation_dir =
github_revision_msg =
github_sphinx_locale =
project_contact = mailto:team.cuyz@gmail.com
project_discussions =
project_home =
project_issues = https://github.com/CuyZ/NotiZ/issues
project_repository = https://github.com/CuyZ/NotiZ.git
use_opensearch =

[intersphinx_mapping]

[latex_elements]
papersize = a4paper
pointsize = 10pt
preamble = \usepackage{typo3}


# About Settings.cfg

# normal:
# https://github.com/TYPO3-Documentation/typo3-docs-typo3-org-resources/blob/master/TemplatesForCopying/ExampleFiles/Settings-minimal.cfg

# extensive:
# https://github.com/TYPO3-Documentation/typo3-docs-typo3-org-resources/blob/master/TemplatesForCopying/ExampleFiles/Settings-extensive.cfg

# Example files:
# https://github.com/TYPO3-Documentation/typo3-docs-typo3-org-resources/tree/master/TemplatesForCopying/ExampleFiles

# More:
# http://mbless.de/blog/2015/10/24/a-new-task-for-an-old-server.html#ini-files
